@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 10px;
  font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}

.form {
  display: grid;
  align-items: center;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.7s ease;
}

.button:hover {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: -4px 9px 19px -8px rgba(0, 0, 0, 0.75);
}

.card--list {
  margin-top: 4rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 55%;
  margin: 2rem auto;
}

.card--title {
  margin-bottom: 0.5rem;
}

.card--image {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/*color of the card*/
.recent {
  background-color: #acffb0;
}

.last10years {
  background-color: #fffcb4;
}

.old {
  background-color: #d8d8d8;
}
